<h1>Tasks index</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.title %>
      <%= link_to "view the details of a task", show_path(task) %>
      <%= link_to "Edit", edit_path(id: task.id) %>
      <%= link_to "Delete", delete_path(id: task.id),
        method: :delete,
        data: { confirm: "Are you sure you want to delete it?" } %>
    </li>
  <% end %>
</ul>

<%= render 'form' %>


